<div class="row">
    <div class="col">
        <h1><span>¡Bienvenido a May</span><span style="color:green">orga</span><span>nic!</span></h1>
        <hr>
    </div>
</div>
<div class="row text-center">
    <div class="col-12">
        <img width="800px" class="img-fluid" src="assets/img/logo.png" alt="logo biotiquin">
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="alert alert-success text-center" role="alert">
            En Mayorganic nos preocupamos por tu salud integral (física, emocional y mental) te invitamos pruebes BIOtiquín, un producto alimenticio que ayuda a tu salud de forma radical.
        </div>
    </div>
</div>
<div class="row">
    <div id="columna1" class="col-6">
        <img class="img-fluid" src="assets/img/Biotiquin-1.png" alt="Productos biotiquin">
    </div>
    <div id="columna2" class="col-6">
        <h3>¿Por qué consumir BIOtiquín?</h3>
        <hr>
        <h5>
            BIOtiquín es un producto 100% Mexicano, cuyos principales beneficios se encuentran en el Hidrocaroteno Rojo
        </h5>
        <div class="alert alert-light" role="alert">
            BIOtiquín es un alimento, no un medicamento.
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <p><img width="18px" src="assets/img/comprobado.svg" alt=""> Activador De Genes</p>
                <p><img width="18px" src="assets/img/comprobado.svg" alt=""> Antioxidante Inteligente</p>
            </div>
            <div class="col-6">
                <p><img width="18px" src="assets/img/comprobado.svg" alt=""> 100% Natural</p>
                <p><img width="18px" src="assets/img/comprobado.svg" alt=""> Rápida Absorción</p>
            </div>
        </div>
    </div>
</div>