<h1>Contacto</h1>
<hr>

<div class="row">
    <div class="col-12">
        <h4>¿Tienes dudas?</h4>
        <div class="alert alert-light" role="alert">
            <h4><small>¡Envianos un mensaje por medio del formulario y nos pondremos en contacto con usted!</small></h4>
        </div>
        <form autocomplete="off" [formGroup]="forma" (ngSubmit)="enviar()">
            <div class="form-group">
                <input type="text" name="nombre" class="form-control" id="inputAddress" formControlName="nombre" placeholder="Nombre Completo" [class.is-invalid]="nombreInvalido">
                <small *ngIf="nombreInvalido" class="text-danger">El nombre es requerido</small>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <input type="email" name="correo" required email class="form-control" id="inputEmail4" formControlName="email" placeholder="Correo Electronico" [class.is-invalid]="emailInvalido">
                    <small *ngIf="emailInvalido" class="text-danger">El correo es requerido</small>
                </div>
                <div class="form-group col-md-6">
                    <input type="tel" name="telefono" maxlength="10" class="form-control" id="inputPassword4" formControlName="telefono" placeholder="Teléfono" [class.is-invalid]="telefonoInvalido">
                    <small *ngIf="telefonoInvalido" class="text-danger">El telefono es requerido</small>
                </div>
            </div>
            <div class="form-group">
                <textarea name="texto" class="form-control" id="exampleFormControlTextarea1" rows="5" formControlName="texto" placeholder="Mensaje que desea enviar" [class.is-invalid]="textoInvalido"></textarea>
                <small *ngIf="textoInvalido" class="text-danger">El mensaje es requerido</small>
            </div>
            <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
        </form>
    </div>

    <!-- <pre>
        {{ forma.value | json }}
    </pre> -->

</div>
<h4 class="mt-5">Información del domicilio</h4>
<hr>
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3752.184304435264!2d-99.09446298561116!3d19.874438031554668!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d18f305992cc4b%3A0x9a6056a0d05df60a!2sAv.%20Morelos%2C%20Villas%20de%20la%20Laguna%2C%20Santa%20Mar%C3%ADa%20Cuevas%2C%20M%C3%A9x.!5e0!3m2!1ses!2smx!4v1601316133716!5m2!1ses!2smx"
                width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
    <div class="col-md-6">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Dirección: <br>Av. Morelos s/n Santa María Cuevas, Zumpango, Estado de México </li>
            <li class="list-group-item">Teléfono: <br>5561323385</li>
            <li class="list-group-item">Teléfono: <br>5614138715</li>
            <li class="list-group-item">Correo: <br>mayorganic.zum@gmail.com </li>
        </ul>
    </div>
</div>