<h1>Información</h1>
<hr>
<!-- Inicia primera fila (Qué es biotiquin) -->
<div class="row">
    <div class="col-md-8">
        <h3>¿Qué es Biotiquín?</h3>
        <div class=" mt-3 alert alert-success" role="alert">
            BIOtiquín es un alimento elaborado a base de hidrocaroteno rojo. <br> Este ingrediente es un poderoso antioxidante, el cual al ser hidrosoluble, permite una mayor y más fácil absorción por todos los tejidos del cuerpo.
        </div>
        <div class=" mt-3 alert alert-warning" role="alert">
            Este producto <strong>no es un medicamento</strong>
        </div>
        <div class=" mt-3 alert alert-warning" role="alert">
            Este producto <strong>no sustituye una dieta saludable.</strong>
        </div>

    </div>
    <div class="col-md-4 text-center">
        <img class="img-fluid" src="../assets/img/certificado.png" alt="certificado biotiquin">
    </div>
</div>
<h2 class="mt-3">Más Información</h2>
<!-- Termina primera fila (Qué es biotiquin) -->
<div class="row mt-3 mb-3">
    <div class="col">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <!-- Que es el hidrocaroteno -->
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <a class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    ¿Por qué consumir Hidrocaroteno rojo?
                                </a>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>¿Qué es?</h4>
                                <hr>
                                <div class="alert alert-secondary" role="alert">
                                    El hidrocaroteno es un nutriente antioxidante hidro-soluble de rápida absorción, potenciado para su dispersión en los tejidos del organismo, su pigmento varía de color amarillo, naranja, rojo, y rojo oscuro casi negro, según su concentración.<br>Es
                                    un carbohidrato nutriente, desarrollado por el científico mexicano Ing. Juan Alfonso García Urbina, a partir de un licopeno -lipo-caroteno- procedente de Lycopersicon esculentum.
                                </div>

                            </div>
                            <div class="col-md-4">
                                <h4>Especificaciones</h4>
                                <hr>
                                <div class="alert alert-secondary" role="alert">
                                    <ul>
                                        <li>Pureza: 35%</li>
                                        <li>Sabor: Amargo</li>
                                        <li>Color: Rojo</li>
                                        <li>Olor: Tierra orgánica mojada</li>
                                        <li>Solubilidad: 100% en agua y alcohol</li>
                                        <li>Inestabilidad: Al contacto con el cloro (Cl) se desintegra, al contacto con ácido tartárico se aglutina</li>
                                        <li>Punto de ebullición: 100°C (212°F)</li>
                                        <li>Punto de congelación: 0°C (32°F)</li>
                                        <li>Gravedad especifica: 1.06</li>
                                        <li>PH: 7</li>
                                        <li>Caducidad: 2 años</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h4>Beneficios</h4>
                                <hr>
                                <div class="alert alert-secondary" role="alert">
                                    El caroteno (C40H56; C40H56O2) es un nutriente que protege a los componentes celulares (lípidos, proteínas y ADN) contra daños por oxidación generada en forma endógena a través de la actividad metabólica normal, estilo de vida y dieta. La forma hidrosoluble
                                    del caroteno rojo en BIOtiquín facilita su rápida absorción.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Termina lo que es el hidrocaroteno -->
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <a class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Información y Advertencias de BIOtiquín
                                </a>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Ingredientes</h4>
                                <hr>
                                <div class="alert alert-secondary" role="alert">
                                    BIOtiquín es 100% natural y de origen vegetal. <br> Ingredientes:
                                    <br>
                                    <ul>
                                        <li>Caroteno rojo hidrosoluble</li>
                                        <li>Extracto de Lycopersicon esculentum</li>
                                        <li>Miel de abeja</li>
                                        <li>Sodio y agua purificada</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4>Advertencias</h4>
                                <hr>
                                <div class="alert alert-secondary" role="alert">
                                    <ul>
                                        <li>BIOtiquín no es un medicamento</li>
                                        <li>BIOtiquín no sustituye una dieta saludable</li>
                                        <li>En caso de hipersensibilidad al caroteno, debe abstenerse de su uso</li>
                                        <li>Contacto en ojos — Irritación con leve ardor durante pocos segundos al contacto, si la molestia persiste puede lavarse con agua</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <a class="btn btn-block text-left collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Información Sobre el Consumo
                          </a>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <h4>¿Quienes pueden tomarlo?</h4>
                                <hr>
                                <div class="alert alert-secondary" role="alert">
                                    Niños, adultos, ancianos y mujeres embarazadas.
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h4>Modo de uso</h4>
                                <hr>
                                <div class="alert alert-secondary" role="alert">
                                    En una saludable dieta diluir BIOtiquín en líquidos (agua, jugos naturales y/o leche) al momento de ingerir los alimentos sólidos (desayuno, comida y cena).
                                </div>
                            </div>
                            <div class="col-md-4">
                                <h4>Calidad</h4>
                                <hr>
                                <div class="alert alert-secondary" role="alert">
                                    BIOtiquín tiene la cantidad justa para ser una fuente de caroteno hidrosoluble 100% natural de rápida absorción intestinal por su estado hidrosoluble. Es seguro porque no hay un límite máximo en la cantidad ingerida que pueda causar daño a la salud, al
                                    acompañarse con una saludable dieta.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>