/* You can add global styles to this file, and also import other style files */

.menu {
    background-color: #109146;
}

.hover ul li a :hover {
    color: lightgreen;
}

.cabecera div h2 a {
    font-size: x-large;
}

.sombra-tarjetas {
    -webkit-box-shadow: 6px 6px 16px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 16px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 16px -9px rgba(0, 0, 0, 0.75);
}