/* You can add global styles to this file, and also import other style files */

.menu {
    background-color: #109146;
}

.hover ul li a :hover {
    color: lightgreen;
}

.cabecera div h2 a {
    font-size: x-large;
}