<footer>
    <nav class=" menu navbar navbar-expand-lg navbar-dark">
        <a style="color:aliceblue" class="navbar-brand" href="#">Todos los derechos Reservados &copy;</a>
        <div class="hover navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="inicio">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="informacion">Información</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="productos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="contacto">Contacto</a>
                </li>
            </ul>
            <span style="color:aliceblue" class="navbar-text">
            Av. Morelos s/n Santa María Cuevas, Zumpango, México <br>
            Tel: 5525653433
          </span>
        </div>
    </nav>
</footer>